body  
{  
    text-align: center;
    margin: 0;  
    padding: 0; 
    background-color:#EBF5FB;  
    font-family: 'Arial';  
}  
.login
{       
       
        align-content: center;
        width: 382px;  
        overflow: hidden;  
        margin: auto;  
        margin: 10 0 0 475px;  
        /*padding: 70px;*/  
        background:#A6ACAF  ;  
        border-radius: 15px ; 
        padding-top: 20px;
        padding-bottom: 20px;
}  
h1
{  
    text-align: center;  
    color: #277582;  
     
}

p
{
    margin-top: 0px;
    text-align: center;
    color: black;
    font-size: 35px;
    font-weight: bold;
}

h2
{   
    margin-bottom: 0px;
    font-size: 80px;
    font-family : bodoni;
    /*padding-left: 20px;*/ 
    color: black;
    padding-top: 20px;
}

label
{  
    color: #08ffd1;  
    font-size: 17px;  
}  
#Uname
{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  
#Pass
{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
      
}  
#log
{  
    width: 150px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
}  
#reg
{
    width: 150px;  
    height: 30px;  
    border: none;  
    border-radius: 17px;  
    padding-left: 7px;  
    color: blue;  
}
span
{  
    color: white;  
    font-size: 17px;  
}  
 
